[Desktop Entry]
Type=Application
Name=Mathworks Service Host
Exec=/home/kaushik/.MathWorks/ServiceHost/-mw_shared_installs/v2026.8.0.4/bin/glnxa64/MathWorksServiceHost service --realm-id companion@prod@production
Terminal=false
