/* --- Colors --- */

 @define-color bg #000000;
 @define-color fg #ffffff;
 @define-color bga #1e1e1e;
 @define-color bd #3a3a3a;

/* --- Universal rules --- */

 *{
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 15px;
  font-weight: bold;
  min-height: 0;
}

/* --- Waybar --- */

 window#waybar {
  background-color: transparent;
  border-bottom: 0px;
}

 window#waybar.hidden {
  opacity: 0.2;
}

 window#waybar.empty #window {
  background-color: transparent;
  padding: 0;
}

/* --- App Menu --- */

 #custom-omarchy{
  font-size: 30px;
  color: @fg;
  background-color: @bg;
  border: 2px solid @bd;
  border-radius: 5px;
  padding: 0px 15px 0px 7px;
  margin: 0px 5px 0px 0px;
}

/* --- Workspaces --- */

 #workspaces {
  margin: 0px 5px 0px 0px;
  border-radius: 5px;
  border: 2px solid @ia1
}

 #workspaces button {
  color: @fg;
  background-color: @bga;
  margin: 5px 5px 5px 5px;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
}

 #workspaces button:hover{
  padding: 0px 10px 0px 10px;
  color :@fg;
  background-color: @bg;
}


 #workspaces button.urgent {
  color: red;
  background-color: @bga;
}

 #workspaces button.active {
  background-color: @fg;
  padding: 0px 20px 0px 20px;
  color: @bg;
}


 #workspaces button.empty.active {
  color: @bg;
  opacity: 1;
}

/* --- Media Player and Visualiser --- */

 #mpris {
  color: @fg;
  background-color: @bg;
  border-left: 2px solid @bd;
  border-top: 2px solid @bd;
  border-right: 2px solid @bd;
  border-bottom: 2px solid @bd;
  border-radius: 5px 0px 0px 5px;
  padding: 0px 7px 0px 0px;
  margin: 0px 0px 0px 0px;
}

 #cava {
  color: @fg;
  background-color; @bg;
  border-left: 2px solid @bd;
  border-top: 2px solid @bd;
  border-right: 2px solid @bd;
  border-bottom: 2px solid @bd;
  border-radius: 0px 5px 5px 0px;
  padding: 0px 10px 0px 10px;
  margin: 0px 0px 0px 0px;
}
/* --- Clock --- */
 #clock {
   color: @fg;
   background-color: @bg;
   border: 2px solid @bd;
   border-radius: 5px;
   padding: 0px 5px 0px 5px;
   margin: 0px 8px 0px 8px;
   min-width: 12px;
 }

 /* --- Temperature --- */

 #temperature {
   color: @fg;
   background-color: @bg;
   border-left: 2px solid @bd;
   border-top: 2px solid @bd;
   border-bottom: 2px solid @bd;
   padding: 0px 10px 0px 10px;
   margin: 0px 0px 0px 0px;
   min-width: 12px;
 }


 /* --- Battery --- */

 #battery {
   color: @fg;
   background-color: @bg;
   border-top: 2px solid @bd;
   border-top: 2px solid @bd;
   border-radius: 5px;
   padding: 0px 10px 0px 10px;
   margin: 0px 0px 0px 0px;
   min-width: 12px;
 }

/* --- Sound Control --- */

  #pulseaudio {
    color: @fg;
    background-color: @bg;
    border-top: 2px solid @bd;
    border-right: 2px solid @bd;
    border-bottom: 2px solid @bd;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
    min-width: 12px;
  }  

/* --- BLuetooth --- */

  #bLuetooth {
    color: @fg;
    background-color: @bg;
    border-left: 2px solid @bd;
    border-top: 2px solid @bd;
    border-bottom: 2px solid @bd;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    margin: 0px 0px 0px 0px;
    min-width: 12px;
  }

/* --- Network --- */

  #network {
    color: @fg;
    background-color: @bg;
    border-top: 2px solid @bd;
    border-bottom: 2px solid @bd;
    border-radius: 5px;
    padding: 1px 5px 0px 5px;
    margin: 0px 0px 0px 0px;
    min-width: 12px;
  }

/* --- PowerMenu --- */

  #custom-powermenu {
    color: @fg;
    background-color: @bg;
    border-top: 2px solid @bd;
    border-right: 2px solid @bd;
    border-bottom: 2px solid @bd;
    border-radius: 5px;
    padding: 0px 13px 0px 10px;
    margin: 0px 2px 0px 0px;
    min-width: 12px;
  }


/* --- Hover Transitions --- */

  #custom-omarchy:hover,
  #clock:hover,
  #temperature:hover;
  #battery:hover,
  #pulseaudio:hover,
  #bluetooth:hover,
  #network:hover,
  #custom-powermenu:hover {
    color: @bg;
    background-color: @fg;
  }


/* --- Tooltips --- */

  #tooltip {
    font-size: 10px;
    color : @fg;
    background-color: @bg;
    border: 2px solid @bd;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
  }

/* --- Hidden mode --- */

 .hidden {
   opacity: 0;
 }

