/* --- Colors --- */

 @define-color bg #000000;
 @define-color fg #ffffff;
 @define-color bga #1e1e1e;
 @define-color bd #3a3a3a;
 @define-color wr #FFD100;
 @define-color cr #FF0000;

/* --- Universal rules --- */

 *{
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 15px;
  font-weight: bold;
  min-height: 0;
  transition-property: background-color, padding;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out
}

/* --- Waybar --- */

 window#waybar {
  background-color: transparent;
  border-bottom: 0px;
}

 window#waybar.hidden {
  opacity: 0.2;
}

 window#waybar.empty #window {
  background-color: transparent;
  padding: 0;
}

/* --- App Menu --- */

 #custom-omarchy{
  font-size: 30px;
  color: @fg;
  background-color: @bg;
  border: 2px solid @bd;
  border-radius: 5px;
  padding: 0px 15px 0px 15px;
  margin: 0px 5px 0px 0px;
}

/* --- Workspaces --- */

 #workspaces {
  margin: 0px 5px 0px 0px;
  border-radius: 5px;
  border: 2px solid @bd;
  background-color: @bg;
}

 #workspaces button {
  color: @fg;
  background-color: @bga;
  margin: 5px 5px 5px 5px;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
}
 #workspaces button.active.empty,
 #workspaces button.active {
  color: @bg;
  background-color: @fg;
  padding: 0px 20px 0px 20px;
}

 #workspaces button.urgent {
   color: @cr;
   background-color: @bga;
 }
 #workspaces button.empty {
   color: @fg;
   background-color: @bga;
 }




/* --- Media Player --- */

 #mpris {
  color: @fg;
  background-color: @bg;
  border-left: 2px solid @bd;
  border-top: 2px solid @bd;
  border-right: 0px solid @bd;
  border-bottom: 2px solid @bd;
  border-radius: 5px 0px 0px 5px;
  padding: 0px 7px 0px 7px;
  margin: 0px 0px 0px 0px;
}
 #cava.top {
  color: @fg;
  background-color: @bg;
  border-left: 0px solid @bd;
  border-top: 0px solid @bd;
  border-right: 2px solid @bd;
  border-bottom: 2px solid @bd;
  border-radius: 0px 0px 5px 0px;
  padding: 0px 7px 0px 0px;
  margin-top: 0px;
  letter-spacing: 1.5px;
}
 #cava.bottom {
  color: @fg;
  background-color: @bg;
  border-left: 0px solid @bd;
  border-top: 2px solid @bd;
  border-right: 2px solid @bd;
  border-bottom: 0px solid @bd;
  border-radius: 0px 5px 0px 0px;
  padding: 0px 7px 0px 0px;
  margin-bottom: 0px;
  letter-spacing: 1.5px;
}


/* --- Clock --- */
 #clock {
   color: @fg;
   background-color: @bg;
   border: 2px solid @bd;
   border-radius: 5px;
   padding: 0px 5px 0px 5px;
   margin: 0px 8px 0px 8px;
   min-width: 12px;
 }

 /* --- Temperature --- */

 #temperature {
   color: @fg;
   background-color: @bg;
   border-left: 2px solid @bd;
   border-top: 2px solid @bd;
   border-bottom: 2px solid @bd;
   border-radius: 5px 0px 0px 5px;
   padding: 0px 10px 0px 0px;
   margin: 0px 0px 0px 0px;
   min-width: 12px;
 }

 #temperature.warning {
   color: @wr;
 }

 #temperature.critical {
   color: @cr;
 }


 /* --- Battery --- */

 #battery {
   color: @fg;
   background-color: @bg;
   border-top: 2px solid @bd;
   border-bottom: 2px solid @bd;
   border-radius: 0px;
   padding: 0px 10px 0px 10px;
   margin: 0px 0px 0px 0px;
   min-width: 12px;
 }

 #battery.warning {
   color: @wr;
 }

 #battery.critical {
   color: @cr;
 }

 #battery.full {
   color: #00FF19
 }

 #battery.charging {
   color:#00FF19
 }


/* --- Sound Control --- */

  #pulseaudio {
    color: @fg;
    background-color: @bg;
    border-top: 2px solid @bd;
    border-right: 2px solid @bd;
    border-bottom: 2px solid @bd;
    border-radius: 0px 5px 5px 0px;
    padding: 0px 10px 0px 10px;
    margin: 0px 5px 0px 0px;
    min-width: 12px;
  }  

/* --- BLuetooth --- */

  #bluetooth {
    font-size: 20px;
    color: @fg;
    background-color: @bg;
    border-left: 2px solid @bd;
    border-top: 2px solid @bd;
    border-bottom: 2px solid @bd;
    border-radius: 5px 0px 0px 5px;
    padding: 0px 13px 0px 13px;
    margin: 0px 0px 0px 0px;
    min-width: 12px;
  }

/* --- Network --- */

  #network {
    font-size: 20px;
    color: @fg;
    background-color: @bg;
    border-top: 2px solid @bd;
    border-bottom: 2px solid @bd;
    border-radius: 0px;
    padding: 0px 17px 0px 10px;
    margin: 0px 0px 0px 0px;
    min-width: 12px;
  }

/* --- PowerMenu --- */

  #custom-powermenu {
    color: @fg;
    background-color: @bg;
    border-top: 2px solid @bd;
    border-right: 2px solid @bd;
    border-bottom: 2px solid @bd;
    border-radius: 0px 5px 5px 0px;
    padding: 0px 15px 0px 12px;
    margin: 0px 0px 0px 0px;
    min-width: 12px;
  }


/* --- Hover Transitions --- */
  #workspaces button.active:hover,
  #workspaces button.empty:hover,
  #workspaces button.persistent:hover,
  #workspaces button:hover {
    color: #1e1e1e;
    background: @fg;
  }

  #custom-omarchy:hover,
  #clock:hover,
  #temperature:hover,
  #battery:hover,
  #pulseaudio:hover,
  #bluetooth:hover,
  #network:hover,
  #custom-powermenu:hover {
    color: @bg;
    background-color: @fg;
    border-radius: 0px;
    transition-timing-function: ease-in;
    transition-duration: 0.01s;
  }


/* --- Tooltips --- */
  #custom-media-now-playing,
  #tooltip {
    font-size: 10px;
    color : @fg;
    background-color: @bg;
    border: 2px solid @bd;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
  }
 

/* --- Extra ---*/
 #custom-media-now-playing {
    color: @fg;
    margin-left: 15px;
}

#custom-media-animation {
    font-size: 14px;
    color: @fg;
}

#custom-media-time {
    color: gray;
    font-size: 16px;
}
