

@define-color bg #000000;
@define-color fg #ffffff;
@define-color rd1 #ffffff;
@define-color ia1 #1e1e1e;

* {

  border-radius: 5px;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 17px;
  font-weight: bold;
  min-height: 0;
  }


/* --- Waybar ---*/
window#waybar {
  background-color: transparent;
  border-bottom: 0px;
  transition-property: background-color;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
  padding: 0;
}

/* --- Modules --- */
.modules-left {
  margin-left: 5px;
}

.modules-center {
  background: @bg;
  box-shadow: 1px 1px 3px 0px @ia1;
  margin: 1px 8px 2px 0px;
  border-radius: 2px;
  padding: 0px;
 }

.modules-right {
  margin-right: 5px;
  background: @bg;
  border-radius: 2px;
  margin: 2px 2px 2px 2px;
  padding: 5px 15px 5px 15px ;
}

/* --- Workspaces --- */
#workspaces {
  background-color: @bg;
  box-shadow: 1px 1px 3px 0px @ia1;
  margin: 1px 8px 2px 0px;
  border-radius: 2px;
  animation: animate 21s ease infinite;
}

#workspaces button {
  color: @fg;
  background-color: #1e1e1e;
  margin: 5px 5px 5px 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

#workspaces button:hover{
  padding: 5px 20px 5px 20px;
  color :@bg;
  background-color: @fg
}


#workspaces button.urgent {
  color: red;
  background-color: @bg;
}

#workspaces button.active {
  background-color: @rd1;
  padding: 5px 20px 5px 20px;
  color: @bg;
}


#workspaces button.empty.active {
  color: @bg;
  opacity: 1;
}

/* --- Custom Color+Shdow Omarchy --- */
#custom-omarchy{
  padding: 0px 13px 0px 7px;
  font-size: 30px;
  border-radius: 5px;
  background-color: @bg;
  color: @rd1;
  margin: 1px 5px 2px 1px;
}
#window{
  padding: 0 5px;
  background: @bg;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px @ia1;
  margin: 1px 8px 2px 0px;
  color: @fg;
}

/* --- General Modules --- */

#tray,
#cava,
#memory,
#cpu,
#battery,
#network,
#custom-updatespacman,
#temperature,
#bluetooth,
#pulseaudio,
#custom-weather,
#custom-update,
#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-powermenu,
#custom-nvidia,
#custom-notification-silencing-indicator,
#clock {
  min-width: 12px;
  padding: 0 5px;
  margin: 0 2px;
  color: @fg
  
}

/* --- Right module Hover color --- */
#cpu:hover,
#custom-powermenu:hover,
#memory:hover,
#battery:hover,
#temperature:hover,
#bluetooth:hover,
#network:hover,
#custom-omarchy:hover,
#clock:hover,
#pulseaudio:hover {
 background-color: @fg;
 color:@bg;

}

#cava {
  padding: 0 5px;
  background-color: @background;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px @ia1;
  margin: 1px 8px 2px 0px;
  border-radius: 0;
}

tooltip {
  padding: 2px;
}

#mpris {
  padding: 0 5px;
  background-color: @bg;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px @ia1;
  margin: 1px 8px 2px 0px;
  color: @fg;
}

tooltip {
 padding: 4px;
 background: @bg;
 font-size: 10px;
 border: 1px solid alpha(@foreground, 0.8);
 border-radius: 8px;
}
tooltip label {
    color: @fg;
    font-weight: normal;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 2.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}


#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 0;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

/* Specific Module */

#tray-expander {
  padding: 0 5px;
  background: @bg;
  color: @fg;
  border-radius: 1px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
    font-size: 12px;
    padding: 0 2px;
    margin: 2px;
}

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @background;
    }
}
